# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Google Drive credentials
credentials.json
token.json

# IDE
.vscode/
.idea/

# DeepEval local files
.deepeval/

# Generated vector stores
data/vectorstores/

# OS files
.DS_Store
Thumbs.db

data/drive_upload/