langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langgraph==0.2.67

transformers==4.51.3
torch==2.7.1
accelerate==1.8.1
sentence-transformers==5.0.0

huggingface-hub==0.33.0
langchain-huggingface==0.0.3

faiss-cpu==1.11.0

pypdf==5.6.1

datasets==4.0.0

ragas==0.1.21

python-dotenv==1.1.1
tqdm==4.67.1

einops==0.8.1

protobuf==6.31.1
safetensors==0.5.3
tokenizers==0.21.2
